<template>
  <div class="pt-24">
    <div class="max-w-2xl mx-auto pt-16 pb-24 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Checkout</h2>

      <div class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
        <div>
          <div>
            <h2 class="text-lg font-medium text-gray-900">聯絡資料</h2>

            <div class="mt-4">
              <label for="email-address" class="block text-sm font-medium text-gray-700">信箱</label>
              <div class="mt-1">
                <input type="email" id="email-address" name="email-address" autocomplete="email" v-model="email"
                  class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
          </div>
          <!-- 送貨資料 -->
          <div class="mt-10 border-t border-gray-200 pt-10">
            <h2 class="text-lg font-medium text-gray-900">送貨資料</h2>

            <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
              <div class="sm:col-span-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700">姓名</label>
                <div class="mt-1">
                  <input type="text" id="first-name" name="first-name" autocomplete="given-name" v-model="name"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border focus:border-indigo-500 sm:text-sm">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="address" class="block text-sm font-medium text-gray-700">地址</label>
                <div class="mt-1">
                  <input type="text" name="address" id="address" autocomplete="street-address" v-model="address"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border focus:border-indigo-500 sm:text-sm">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="phone" class="block text-sm font-medium text-gray-700">電話</label>
                <div class="mt-1">
                  <input type="text" name="phone" id="phone" autocomplete="tel" v-model="phone"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border focus:border-indigo-500 sm:text-sm">
                </div>
              </div>
            </div>
          </div>

          <!-- 配送方式 -->
          <div class="mt-10 border-t border-gray-200 pt-10">
            <fieldset>
              <legend class="text-lg font-medium text-gray-900">配送方式</legend>

              <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <!--
                  Checked: "border-transparent", Not Checked: "border-gray-300"
                  Active: "ring-2 ring-indigo-500"
                -->
                <label @click="shipping = delivery.price" v-for="delivery of deliveryMethod" :key="delivery"
                  :class="[deliverySelected === delivery.title ? 'ring-2 ring-indigo-500' : '', 'relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none']">
                  <input type="radio" name="delivery-method" :value="delivery.title" v-model="deliverySelected"
                    class="sr-only" aria-labelledby="delivery-method-0-label"
                    aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
                  <div class="flex-1 flex">
                    <div class="flex flex-col">
                      <span id="delivery-method-0-label" class="block text-sm font-medium text-gray-900"> {{
                          delivery.title
                      }} </span>
                      <span id="delivery-method-0-description-0" class="mt-1 flex items-center text-sm text-gray-500">
                        {{
                            delivery.turnaround
                        }} </span>
                      <span id="delivery-method-0-description-1" class="mt-6 text-sm font-medium text-gray-900">${{
                          delivery.price
                      }} </span>
                    </div>
                  </div>
                  <!--
                    Not Checked: "hidden"

                    Heroicon name: solid/check-circle
                  -->
                  <svg v-if="deliverySelected === delivery.title" class="h-5 w-5 text-indigo-600"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd" />
                  </svg>
                  <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
                  <div class="absolute -inset-px rounded-lg border-1 pointer-events-none" aria-hidden="true"></div>
                </label>
              </div>
            </fieldset>
          </div>

          <!-- 付款方式 -->
          <div class="mt-10 border-t border-gray-200 pt-10">
            <h2 class="text-lg font-medium text-gray-900">付款方式</h2>

            <fieldset class="mt-4">
              <legend class="sr-only">付款方式</legend>
              <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                <div class="flex items-center" v-for="payment of paymentMethod" :key="payment">
                  <input v-if="payment.id" :id="payment.id" name="payment-type" type="radio" :value="payment.id"
                    v-model="paymentSelected"
                    class="cursor-pointer appearance-none border rounded-full checked:border-4 checked:border-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                  <input v-else :id="payment.id" name="payment-type" type="radio"
                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                  <label :for="payment.id" class="cursor-pointer ml-3 block text-sm font-medium text-gray-700"> {{
                      payment.title
                  }} </label>
                </div>
              </div>
            </fieldset>

            <div class="mt-6 grid grid-cols-4 gap-y-6 gap-x-4">
              <div class="col-span-4">
                <label for="card-number" class="block text-sm font-medium text-gray-700">卡號</label>
                <div class="mt-1">
                  <input type="text" id="card-number" name="card-number" autocomplete="cc-number"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border  focus:border-indigo-500 sm:text-sm">
                </div>
              </div>

              <div class="col-span-4">
                <label for="name-on-card" class="block text-sm font-medium text-gray-700">持卡人姓名</label>
                <div class="mt-1">
                  <input type="text" id="name-on-card" name="name-on-card" autocomplete="cc-name"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border  focus:border-indigo-500 sm:text-sm">
                </div>
              </div>

              <div class="col-span-3">
                <label for="expiration-date" class="block text-sm font-medium text-gray-700">有效期 (MM/YY)</label>
                <div class="mt-1">
                  <input type="text" name="expiration-date" id="expiration-date" autocomplete="cc-exp"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border  focus:border-indigo-500 sm:text-sm">
                </div>
              </div>

              <div>
                <label for="cvc" class="block text-sm font-medium text-gray-700">安全碼</label>
                <div class="mt-1">
                  <input type="text" name="cvc" id="cvc" autocomplete="csc"
                    class="p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border  focus:border-indigo-500 sm:text-sm">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 購物車 -->
        <div class="mt-10 lg:mt-0">
          <h2 class="text-lg font-medium text-gray-900">購物車</h2>

          <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm">
            <h3 class="sr-only">Items in your cart</h3>
            <ul role="list" class="divide-y divide-gray-200">
              <li class="flex py-6 px-4 sm:px-6" v-for="(product, index) of store.carts" :key="product">
                <div class="flex-shrink-0">
                  <img :src="baseUrl + product.product.imageUrl" :alt="product.product.imageUrl"
                    class="w-20 rounded-md">
                </div>

                <div class="ml-6 flex-1 flex flex-col">
                  <div class="flex">
                    <div class="min-w-0 flex-1">
                      <h4 class="text-sm">
                        <a href="#" class="font-medium text-gray-700 hover:text-gray-800">{{
                            product.product.title
                        }}</a>
                      </h4>
                      <p class="mt-1 text-sm text-gray-500">${{ product.product.price }}</p>
                    </div>

                    <div class="ml-4 flex-shrink-0 flow-root">
                      <button @click="removeCartItem(product)" type="button"
                        class="-m-2.5 bg-white p-2.5 flex items-center justify-center text-gray-400 hover:text-gray-500">
                        <span class="sr-only">移除</span>
                        <!-- Heroicon name: solid/trash -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                          aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>
                  </div>

                  <div class="flex-1 pt-2 flex items-end justify-between">
                    <p class="mt-1 text-sm font-medium text-gray-900">小計
                      ${{ product.product.price * newCartList[index].qty }}
                    </p>
                    <!-- 選擇數量 -->
                    <div class="ml-4">
                      <label for="quantity" class="sr-only">Quantity</label>
                      <select @change="updateTotal(product.product, newCartList[index].qty)" id="quantity" name="quantity" v-model="newCartList[index].qty"
                        class="px-3 py-2 appearance-none rounded-md border border-gray-300 text-base font-medium text-gray-700 text-left shadow-sm focus:outline-none focus:ring-1 focus:ring-1 focus:outline-0 focus:ring-indigo-500 focus:border focus:border-indigo-500 sm:text-sm">
                        <option :value="num" v-for="num of 15" :key="num"> {{ num }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </li>

              <!-- More products... -->
            </ul>
            <dl class="border-t border-gray-200 py-6 px-4 space-y-6 sm:px-6">
              <div class="flex items-center justify-between">
                <dt class="text-sm">小計</dt>
                <dd class="text-sm font-medium text-gray-900">${{ cartTotal }}</dd>
              </div>
              <div class="flex items-center justify-between">
                <dt class="text-sm">運費</dt>
                <dd class="text-sm font-medium text-gray-900">${{ shipping }}</dd>
              </div>
              <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                <dt class="text-base font-medium">總計</dt>
                <dd class="text-base font-medium text-gray-900">${{ cartTotal + shipping }}</dd>
              </div>
            </dl>

            <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
              <button @click="setOrder"
                class="w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50">
                確定結帳
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, onMounted, ref, inject } from 'vue';
import { useStore, useStoreAlert } from '../stores/pinia'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'

const router = useRouter();
const store = useStore();
const alertStore = useStoreAlert();
const { showLog, baseUrl, isLogin, memberData, carts, cartTotal } = storeToRefs(store);
const $api = inject('$api');

const shipping = ref(60)
const member = JSON.parse(memberData.value);
const email = ref('');
const name = ref('');
const address = ref('');
const phone = ref('');

const deliverySelected = ref('便利商店取貨')
const deliveryMethod = ref([
  {
    title: '便利商店取貨',
    turnaround: '4–10 營業日',
    price: 60
  },
  {
    title: '宅配',
    turnaround: '2–5 營業日',
    price: 80
  },
])

const paymentSelected = ref('credit-card')
const paymentMethod = ref([
  {
    id: 'credit-card',
    title: '信用卡',
  },
  {
    id: 'paypal',
    title: 'PayPal'
  },
])

const newCartList = ref([]);
const updateTotal = (product, qty) => {

  // 取得的 qty 計算新的 final_total
  let list = [];
  newCartList.value.forEach( item=>{
    if(item.product.id === product.id){
      list.push({
            // 變更數量的 商品重新計算 final_total
            final_total: product.price * qty,
            id: item.id,
            product: item.product,
            qty: item.qty,
            total: item.total,
      })
    } else {
        list.push({
            final_total: item.final_total,
            id: item.id,
            product: item.product,
            qty: item.qty,
            total: item.total,
      })
    }
  })

  // 新的 newCartList
  newCartList.value = list;

  let total = 0;
  newCartList.value.forEach(item => {
    total += item.qty * item.product.price
  })
  
  store.setCart(JSON.stringify(newCartList.value));
  store.setTotal(total)
  // call api 更新購物車
  $api.updateCart(newCartList.value, total).then((res) => {
    if (showLog) {
      console.log('res', res)
    }
  }).catch((err) => {
    if (showLog) {
      console.log('err', err)
    }
  })
}

// 移除商品
const removeCartItem = product => {
  newCartList.value = newCartList.value.filter(item => item.id !== product.id);

  const total = cartTotal.value - product.final_total;

  store.setCart(JSON.stringify(newCartList.value));
  store.setTotal(total);
  
  // call api 更新購物車
  $api.updateCart(newCartList.value, total).then((res) => {
    if (showLog) {
      console.log('res', res)
    }
    if (res) {
      // alert
      alertStore.updateMessage('已從購物車移除商品', 'success')
    }
  }).catch((err) => {
    if (showLog) {
      console.log('err', err)
    }
  })
}

// 新增訂單
const setOrder = () => {
  if (carts.value.length > 0) {
    const total = cartTotal.value + shipping.value;    // 以timestamp產生亂數id
    const dateTime = new Date().getTime();
    const timestamp = Math.floor(dateTime / 1000);
    // 產生訂單物件
    const orderData = {
      create_at: dateTime,
      id: `order_${timestamp}`,
      products: newCartList.value,
      total: total,
      product_total: cartTotal.value,
      shipping: shipping.value,
    }
    let newOrder = [];
    if (store.order.length > 0) {
      newOrder = store.order.concat([orderData]);
    } else {
      newOrder = [orderData];
    }

    if (isLogin) {
      $api.updateOrder(newOrder).then((res) => {
        if (showLog) {
          console.log('res', res)
        }
        if (res) {
          store.setOrder(JSON.stringify(res.order))
          // 清空購物車
          resetCart();
          // alert
          alertStore.updateMessage('付款成功', 'success')
          // 去訂單頁面
          router.push('/member');
          store.setShowOrder(true);
        }
      }).catch((err) => {
        if (showLog) {
          console.log('err', err)
        }
      })
    }
  } else {
    // alert
    alertStore.updateMessage('購物車內無商品', 'warning')
  }
}

// 清空購物車
const resetCart = () => {
  $api.updateCart([], 0).then((res) => {
    if (showLog) {
      console.log('res', res)
    }
    store.setCart('');
    store.setTotal(0);
  }).catch((err) => {
    if (showLog) {
      console.log('err', err)
    }
  })
}

onBeforeMount(() => {
  // 複製原始的購物車內容
  newCartList.value = JSON.parse(JSON.stringify(carts.value));
})

onMounted(() => {
  email.value = member.email;
  address.value = member.address;
  name.value = member.name;
  phone.value = member.phone;
})

</script>

<style lang="scss" scoped>
input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
</style>
