<template>
  <div>
    <BannerSlider />
    <ProductCategory />
    <CardSlider />
    <News />
  </div>
</template>

<script>
import BannerSlider from '../components/Dashboard/bannerSlider.vue'
import ProductCategory from '../components/Dashboard/productCategory.vue'
import CardSlider from '../components/Dashboard/cardSlider.vue'
import News from '../components/Dashboard/news.vue'

export default {
  components: {
    BannerSlider,
    ProductCategory,
    CardSlider,
    News,
  },
}
</script>
