<template>
  <div class="member-wrapper">
    <nav class="flex px-4 py-2 breadcrumb" aria-label="Breadcrumb">
      <ol role="list" class="flex items-center space-x-4">
        <li>
          <div class="text-gray-400 hover:text-gray-500">
            <router-link to="/">
              <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                   fill="currentColor" aria-hidden="true">
                <path
                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
              </svg>
              <span class="sr-only">首頁</span>
            </router-link>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="ml-4 text-md font-medium text-gray-500">會員中心</span>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="ml-4 text-md font-medium text-gray-500" aria-current="page">
              <span v-if="itemIndex === 0">會員資料</span>
              <span v-if="itemIndex === 1">訂單查詢</span>
            </span>
          </div>
        </li>
      </ol>
    </nav>
    <div class="select-box">
      <div class="select-option" :class="{'selected':itemIndex === 0}" @click="setIndex(0)">會員資料</div>
      <div class="select-option" :class="{'selected':itemIndex === 1}" @click="setIndex(1)">訂單查詢</div>
    </div>
    <MemberData v-if="itemIndex === 0" class="member-content" />
    <MemberOrder v-if="itemIndex === 1" class="member-content" />
  </div>
</template>

<script>
import {ref, onMounted} from 'vue'
import MemberData from '../components/Member/memebrData.vue'
import MemberOrder from '../components/Member/memberOrder.vue'
import { useMeta } from 'vue-meta'
import {useStore} from '../stores/pinia'
const store = useStore();

export default {
  components: {
    MemberData,
    MemberOrder,
  },
  setup() {
    useMeta({
      title: 'Member',
    })
    const itemIndex = ref(0)
    const setIndex = function(index) {
      itemIndex.value = index
    };

    onMounted(() => {
      if(store.showOrder){
        setIndex(1);
        store.setShowOrder(false);
      }
    })

    return {
      itemIndex,
      setIndex,
    }
  }
}
</script>

<style lang="scss" scoped>
.member-wrapper {
  padding-top: 8vw;
  width: 85vw;
  margin: 0 auto;
  & .breadcrumb {
    margin-bottom: 1.5vw;
  }
  & .select-box {
    border-bottom: 1px solid lightgray;
    & .select-option {
      @apply inline-block cursor-pointer;
      font-size: 16px;
      border: 1px solid lightgray;
      border-radius: 3px 3px 0 0;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0.08);
      transition-duration: 200ms;
      &:hover {
        background-color: rgb(255, 255, 255);
      }
    }
    & .selected {
      background-color: rgb(255, 255, 255) !important;
    }
  }
  & .member-content {
    width: 85vw;
    margin: 0 auto;
  }
}
</style>
