<template>
  <div class="productList mx-auto pt-32">
    <nav class="flex px-4 py-2" aria-label="Breadcrumb">
      <ol role="list" class="flex items-center space-x-4">
        <li>
          <div class="text-gray-400 hover:text-gray-500">
            <router-link to="/">
              <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                   fill="currentColor" aria-hidden="true">
                <path
                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
              </svg>
              <span class="sr-only">首頁</span>
            </router-link>
          </div>
        </li>

        <li>
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="ml-4 text-md font-medium text-gray-500">商品列表</span>
          </div>
        </li>

        <li>
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="ml-4 text-md font-medium text-gray-500" aria-current="page">
              {{ select }}
            </span>
          </div>
        </li>
        <li>
          <div class="flex items-center" v-if="filterText">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"/>
            </svg>
            <a href="#" class="ml-4 text-md font-medium text-gray-500 hover:text-gray-700" aria-current="page">
              搜尋 {{ filterText }}
            </a>
          </div>
        </li>
      </ol>
    </nav>

    <div class="flex mt-8">
      <!-- 產品分類 -->
      <nav aria-label="Sidebar" class="w-60">
        <div class="space-y-1">
          <div @click="getCategory(item.title)" v-for="item of categories" :key="item.title" href="#"
               class="cursor-pointer"
               :class="[select === item.title ? 'bg-gray-100 text-gray-900' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900', 'group flex items-center px-3 py-2 text-sm font-medium rounded-md']"
               :aria-current="item.current ? 'page' : undefined">
            <svg v-html="item.icon"
                 :class="[select === item.title? 'text-gray-500' : 'text-gray-400 group-hover:text-gray-500', 'flex-shrink-0 -ml-1 mr-3 h-6 w-6']"
                 xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" stroke-width="2">
            </svg>
            <span class="truncate">
              {{ item.title }}
            </span>
          </div>
        </div>
        <!-- Sidebar Search -->
        <div class="flex mt-3">
          <input v-model="searchText" type="text" id="footer-field" name="footer-field" placeholder="搜尋"
                 class="w-full bg-white bg-opacity-50 rounded rounded-r-none border border-gray-300 focus:rounded-r focus:ring-2 focus:bg-transparent focus:ring-gray-200 focus:border-gray-500 text-sm outline-none text-gray-700 py-1 px-3 leading-7 transition-colors duration-200 ease-in-out z-10">
          <button @click="search"
                  class="bg-gray-50 hover:bg-gray-100 rounded rounded-l-none py-1 px-2 leading-7 border border-l-0 border-gray-300">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </nav>

      <!-- 產品列表 -->
      <div class="max-w-2xl pb-16 px-4 sm:pb-6 sm:px-6 lg:max-w-7xl lg:px-8">
        <p class="text-sm text-gray-500 mb-3" v-if="filterText">
          找到 {{ filterProduct.length }} 筆關於 "{{ filterText }}"
        </p>
        <div
            class="relative grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
          <div v-for="product of filterProduct" :key="product.id"
               class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden">
            <div class="relative aspect-w-3 aspect-h-4 bg-gray-200 sm:aspect-none sm:h-72">
              <img :src="baseUrl + product.imageUrl" :alt="product.imageUrl"
                   class="w-full h-full object-center object-cover sm:w-full sm:h-full"/>
            </div>
            <div class="flex-1 p-4 space-y-2 flex flex-col">
              <div class="flex justify-between">
                <p class="text-sm text-gray-500">{{ product.title }}</p>
                <div class="product-soldout z-20" v-if="!product.is_enabled">
                  <span class="text-white">Sold Out</span>
                </div>
                <!-- 加入最愛 -->
                <div class="favorite">
                  <a class="text-zinc-400" @click="addFavorite(product)" v-if="isShowAdd(product)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                    </svg>
                  </a>
                  <a class="text-zinc-400" @click="removeFavorite(product)" v-else>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd"
                            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                            clip-rule="evenodd"/>
                    </svg>
                  </a>
                </div>
              </div>

              <div class="flex-1 flex justify-between">
                <del class="text-sm italic text-gray-500">NT ${{ product.origin_price }}</del>
                <p class="text-base font-medium text-gray-900">NT ${{ product.price }}</p>
              </div>

              <div class="flex-1 flex justify-between">
                <router-link :to="`/productList/${product.id}`"
                             class="w-full mr-1 relative flex bg-gray-100 border border-transparent rounded-md py-2 items-center justify-center text-sm font-medium text-gray-900 hover:bg-gray-200"
                >查看更多
                </router-link>
                <button @click="addToCart(product.id)"
                        class="w-full ml-1 relative flex bg-gray-100 border border-transparent rounded-md py-2 items-center justify-center text-sm font-medium text-gray-900 hover:bg-gray-200"
                >加入購物車
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
import {computed, onMounted, ref, inject} from 'vue'
import {useStore, useStoreAlert} from '../stores/pinia'
import {storeToRefs} from 'pinia'
import {useRoute} from "vue-router";

import {useMeta} from 'vue-meta'

useMeta({
  title: 'Products',
})

const $api = inject('$api');
const store = useStore();
const alertStore = useStoreAlert();
const {product, baseUrl, favorites, carts} = storeToRefs(store);

const select = ref('全部商品');
const filterText = ref('');
const searchText = ref('');
// 商品類別
const categories = ref([
  {
    name: 'ALL',
    title: '全部商品',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />',
    current: true
  },
  {
    name: 'Figure',
    title: '模型、公仔',
    icon: '<path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" /> <path stroke-linecap="round" stroke-linejoin="round" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" /> ',
    current: false
  },
  {
    name: 'Shoes',
    title: '鞋款',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />',
    current: false
  },
  {
    name: 'Limited Edition',
    title: '限定商品',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />',
    current: false
  },
  {
    name: 'Cloth',
    title: '衣服',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />',
    current: false
  },
  {
    name: 'LIFE',
    title: '配件',
    icon: '<path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />',
    current: false
  },
]);
// 選擇商品類別
const getCategory = category => {
  select.value = category;
  if (filterText) {
    filterText.value = '';
  }
}

// 篩選商品
const filterProduct = computed(() => {
  if (filterText.value !== '') {
    select.value = '全部商品';
    return product.value.filter(item => item.title.indexOf(filterText.value) !== -1); // 返回不等於 -1(沒有符合的字) 的結果
  } else {
    if (select.value !== '全部商品') {
      return product.value.filter(item => item.category === select.value);
    } else {
      return product.value
    }
  }

})

// 搜尋商品
const search = () => {
  filterText.value = searchText.value;
  searchText.value = '';
}

// --------------------- 最愛商品 start --------------------- //
const favorite = computed(() => {
  if (favorites.value.length !== 0) {
    return favorites.value;
  } else {
    return [];
  }
})

const isShowAdd = product => {
  const isFavorite = favorite.value.find(item => item.id === product.id);
  return !isFavorite;
}


// 加入最愛
const addFavorite = product => {
  if (store.isLogin) {
    const favoriteData = {
      id: product.id,
      title: product.title,
    };
    let newFavoritesList;
    // 收藏列表沒東西時
    if (favorite.value.length === 0) {
      newFavoritesList = [favoriteData];
    } else {
      // 收藏列表有東西,合併陣列
      newFavoritesList = favorite.value.concat([favoriteData]);
    }
    store.setFavorite(JSON.stringify(newFavoritesList));

    // alert
    alertStore.updateMessage('已加入最愛', 'success')

    if (store.isLogin) {
      $api.updateFavorite(newFavoritesList).then((res) => {
        if (store.showLog) {
          console.log('res', res)
        }
      }).catch((err) => {
        if (store.showLog) {
          console.log('err', err)
        }
      })
    }
  } else {
    // alert
    alertStore.updateMessage('請先登入', 'warning')
  }
}

// 移除最愛
const removeFavorite = product => {
  const removeItem = favorite.value.filter(item => item.id !== product.id);
  store.setFavorite(JSON.stringify(removeItem));

  // alert
  alertStore.updateMessage('已移除最愛', 'success')

  if (store.isLogin) {
    $api.updateFavorite(removeItem).then((res) => {
      if (store.showLog) {
        console.log('res', res)
      }
    }).catch((err) => {
      if (store.showLog) {
        console.log('err', err)
      }
    })
  }
}
// --------------------- 最愛商品 end --------------------- //

// --------------------- 加入購物車 start --------------------- //
const cartItem = ref([]);
const total = ref(0);
const addToCart = id => {
  // 每次都先抓store 購物車總金額
  total.value = store.cartTotal;
  if (store.isLogin) {
    cartItem.value = product.value.find(item => item.id === id);
    console.log('cartItem.value', cartItem.value)
    // 以timestamp產生亂數id
    const dateTime = new Date().getTime();
    const timestamp = Math.floor(dateTime / 1000);
    const qty = 1;
    const cartData = {
      final_total: cartItem.value.price * qty,
      id: `cart_${timestamp}`,
      product: cartItem.value,
      qty,
      total: cartItem.value.price,
    };
    let newCartsList;
    // 購物車沒東西時
    if (carts.value.length === 0) {
      newCartsList = [cartData];
    } else {
      const sameItem = carts.value.find(item => item.product.id === cartData.product.id);
      if (sameItem) {
        // alert
        alertStore.updateMessage('購物車已有此商品', 'warning')
        return false;
      }
      // 購物車有東西,合併陣列
      newCartsList = carts.value.concat([cartData]);
    }
    total.value += cartData.final_total;
    console.log('total.value', total.value)
    store.setTotal(total.value)
    store.setCart(JSON.stringify(newCartsList));
    // alert
    alertStore.updateMessage('加入購物車成功', 'success')
    // call api 加入購物車
    if (store.isLogin) {
      $api.updateCart(newCartsList, total.value).then((res) => {
        if (store.showLog) {
          console.log('res', res)
        }
      }).catch((err) => {
        if (store.showLog) {
          console.log('err', err)
        }
      })
    }
  } else {
    // alert
    alertStore.updateMessage('請先登入', 'warning')
  }
}
// --------------------- 加入購物車 end --------------------- //

// 取得 route.query.category
const route = useRoute();
const getParams = () => {
  if (route.query.category) {
    select.value = route.query.category
  }
}

onMounted(() => {
  total.value = store.cartTotal;
  getParams();
})
</script>

<style lang="scss" scoped>
.productList {
  @apply relative pb-96;
  max-width: 90%;
  width: 1300px;

  & .favorite {
    @apply z-10;
    top: 8px;
    right: 8px;

    a {
      cursor: pointer;
      font-size: 1rem;
    }
  }

  & .product-soldout {
    @apply bg-zinc-800 bg-opacity-30;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
