<template>
  <div class="bg-white pt-16" @click="showNum = false">
    <div class="mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <!-- Product -->
      <div class="lg:grid lg:grid-rows-1 lg:grid-cols-7 lg:gap-x-8 lg:gap-y-10">
        <!-- Product image -->
        <div class="lg:row-end-1 lg:col-span-4">
          <div class="aspect-w-4 aspect-h-3 rounded-lg overflow-hidden">
            <img :src="baseUrl + productInfo.imageUrl" :alt="productInfo.imageUrl" class="object-center object-cover">
          </div>
        </div>

        <!-- Product details -->
        <div
          class="w-full max-w-2xl mx-auto mt-14 sm:mt-16 lg:max-w-none lg:mt-0 lg:row-end-2 lg:row-span-2 lg:col-span-3">
          <div class="flex items-center justify-between">
            <div class="my-4">
              <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{{ productInfo.title }}</h1>
            </div>
            <!-- 加入最愛 -->
            <div class="favorite">
              <button class="text-zinc-400 cursor-pointer" @click="addFavorite(productInfo)"
                v-if="isShowAdd(productInfo)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
              </button>
              <button class="text-zinc-400 cursor-pointer" @click="removeFavorite(productInfo)" v-else>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>

          <!-- 價格 -->
          <div class="flex flex-col">
            <del class="text-md italic text-gray-500">NT ${{ productInfo.origin_price }}</del>
            <p class="text-2xl font-medium text-indigo-700">NT ${{ productInfo.price }}</p>
          </div>

          <!-- 商品描述 -->
          <p class="text-gray-500 mt-6">{{ productInfo.description }}</p>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2">
            <!-- 選擇數量 -->
            <div class="mt-1 relative">
              <button @click="showNumSelect" type="button"
                class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 h-12 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base"
                aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                <span class="block truncate"> {{ selectNum + productInfo.unit }} </span>
                <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                  <!-- Heroicon name: solid/selector -->
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <!-- 數量選擇 -->
              <transition name="fade">
                <ul v-if="showNum"
                  class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-base"
                  tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">

                  <li v-for="num of 15" :key="num"
                    class="text-gray-900 hover:text-white hover:bg-indigo-500 cursor-default select-none relative py-2 pl-3 pr-9"
                    id="listbox-option-0" role="option" @click="getNum(num)">
                    <span class="font-normal block truncate"> {{ num + productInfo.unit }} </span>
                  </li>
                </ul>
              </transition>
            </div>
            <!-- 加入購物車 -->
            <button v-if="productInfo.is_enabled !== 0" @click="addToCart(productInfo.id)" type="button"
              class="mt-1 w-full bg-indigo-600 border border-transparent rounded-md px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
              加入購物車
            </button>
            <button v-if="productInfo.is_enabled === 0" type="button"
              class="mt-1 w-full  border border-transparent rounded-md px-8 text-base font-medium text-white bg-gray-300 cursor-default">
              已完售
            </button>
          </div>

          <!-- 商品內容 -->
          <div class="border-t border-gray-200 mt-10 pt-10">
            <h3 class="text-base font-medium text-gray-900">商品內容</h3>
            <div class="mt-4 prose prose-sm text-gray-500">
              {{ productInfo.content }}
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</template>

<script setup>
import { computed, onMounted, watch, watchEffect, ref, inject } from 'vue'
import { useStore, useStoreAlert } from '../stores/pinia'
import { storeToRefs } from 'pinia'
import { useRoute } from 'vue-router'
import { useMeta } from 'vue-meta'

const $api = inject('$api');
const store = useStore();
const alertStore = useStoreAlert();
const route = useRoute();
const { product, baseUrl, favorites, carts, cartTotal } = storeToRefs(store);

// 取得產品內容
const productInfo = ref({
  category: '',
  content: '',
  description: '',
  id: '',
  imageUrl: '',
  is_enabled: null,
  num: null,
  origin_price: '',
  price: null,
  title: '',
  unit: ''
});


const getProduct = id => {
  productInfo.value = product.value.find(item => {
    return item.id === id;
  })
  if (productInfo.value) {
    console.log(productInfo.value)
    useMeta({
      title: productInfo.value.title,
      meta: [
        { property: 'og:title', content: productInfo.value.title },
        { property: 'og:description', content: productInfo.value.content },
        { property: 'og:image', content: baseUrl.value + productInfo.value.imageUrl },
        { property: 'og:image:height', content: '315' },
      ]
    })
  }
}

// 選擇數量
const showNum = ref(false);
const selectNum = ref(1);
const showNumSelect = () => {
  event.stopPropagation();
  showNum.value = !showNum.value;
}
const getNum = num => {
  selectNum.value = num;
  showNum.value = false;
}

// --------------------- 最愛商品 start --------------------- //
const favorite = computed(() => {
  if (favorites.value.length !== 0) {
    return favorites.value;
  } else {
    return [];
  }
})

const isShowAdd = product => {
  const isFavorite = favorite.value.find(item => item.id === product.id);
  return !isFavorite;
}

// 加入最愛
const addFavorite = product => {
  if (store.isLogin) {
    const favoriteData = {
      id: product.id,
      title: product.title,
    };
    let newFavoritesList;
    // 收藏列表沒東西時
    if (favorite.value.length === 0) {
      newFavoritesList = [favoriteData];
    } else {
      // 收藏列表有東西,合併陣列
      newFavoritesList = favorite.value.concat([favoriteData]);
    }
    store.setFavorite(JSON.stringify(newFavoritesList));
    // alert
    alertStore.updateMessage('已加入最愛', 'success')
    if (store.isLogin) {
      $api.updateFavorite(newFavoritesList).then((res) => {
        if (store.showLog) {
          console.log('res', res)
        }
      }).catch((err) => {
        if (store.showLog) {
          console.log('err', err)
        }
      })
    }
  } else {
    // alert
    alertStore.updateMessage('請先登入', 'warning')
  }
}

// 移除最愛
const removeFavorite = product => {
  const removeItem = favorite.value.filter(item => item.id !== product.id);
  store.setFavorite(JSON.stringify(removeItem));
  // alert
  alertStore.updateMessage('已移除最愛', 'success')
  if (store.isLogin) {
    $api.updateFavorite(removeItem).then((res) => {
      if (store.showLog) {
        console.log('res', res)
      }
    }).catch((err) => {
      if (store.showLog) {
        console.log('err', err)
      }
    })
  }
}
// --------------------- 最愛商品 end --------------------- //

// --------------------- 加入購物車 start --------------------- //
const cartItem = ref([]);
const total = ref(0);
const addToCart = id => {
  if (store.isLogin) {
    cartItem.value = product.value.find(item => item.id === id);
    // 以timestamp產生亂數id
    const dateTime = new Date().getTime();
    const timestamp = Math.floor(dateTime / 1000);
    const cartData = {
      final_total: cartItem.value.price * selectNum.value,
      id: `cart_${timestamp}`,
      product: cartItem.value,
      qty: selectNum.value,
      total: cartItem.value.price,
    };
    let newCartsList;
    // 購物車沒東西時
    if (carts.value.length === 0) {
      newCartsList = [cartData];
    } else {
      const sameItem = carts.value.find(item => item.product.id === cartData.product.id);
      if (sameItem) {
        // alert
        alertStore.updateMessage('購物車已有此商品', 'warning')
        return false;
      }
      // 購物車有東西,合併陣列
      newCartsList = carts.value.concat([cartData]);
    }
    total.value += cartData.final_total;
    const final_total = total.value + cartTotal.value;
    store.setTotal(final_total)
    store.setCart(JSON.stringify(newCartsList));
    // alert
    alertStore.updateMessage('加入購物車成功', 'success')
    // call api 加入購物車
    if (store.isLogin) {
      $api.updateCart(newCartsList, final_total).then((res) => {
        if (store.showLog) {
          console.log('res', res)
        }
      }).catch((err) => {
        if (store.showLog) {
          console.log('err', err)
        }
      })
    }
  } else {
    // alert
    alertStore.updateMessage('請先登入', 'warning')
  }
}
// --------------------- 加入購物車 end --------------------- //

watch(() => route.path, () => {
  getProduct(route.params.productId);
})

onMounted(() => {
  if (route.params.productId) {
    getProduct(route.params.productId);
  }
})
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
