<template>
  <div class="favorite-wrapper">
    <div v-if="favoriteList.length === 0" class="no-data">目前暫無資料</div>
    <div v-for="item in favoriteList" :key="item.id">
      <div class="favorite-item">
        <div class="cross" @click="removeFavorite(item.id)">X</div>
        <div class="title" @click="goProductDetail(item.id)">{{ item.title }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { inject } from "vue";
import { useRouter } from "vue-router";
import { useStore } from '../../stores/pinia'

export default {
  props: {
    favoriteList: Array,
    default: [],
  },
  setup(props, context) {
    const $api = inject('$api');
    const store = useStore()
    const router = useRouter()
    const memberData = JSON.parse(store.memberData)

    function goProductDetail(id) {
      router.push(`/productList/${id}`)
      context.emit('on-closeFavorite')
    }

    function removeFavorite(id) {
      const newFavoritesList = props.favoriteList.filter(item => item.id !== id)
      $api.updateFavorite(newFavoritesList).then((res) => {
        store.setFavorite(JSON.stringify(newFavoritesList));
        if (store.showLog) {
          console.log('res', res)
        }
      }).catch((err) => {
        if (store.showLog) {
          console.log('err', err)
        }
      })
    }

    return {
      goProductDetail,
      removeFavorite,
    }
  }
}
</script>

<style lang="scss" scoped>
.favorite-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 250px;
  min-height: 160px;
  padding: 10px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  & .no-data {
    @apply text-center text-gray-400;
    margin-top: 10px;
  }
  & .favorite-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 220px;
    margin: 0 auto;
    padding: 8px 0 3px;
    transition-duration: 200ms;
    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    & .cross {
      @apply inline-block;
      width: 18px;
      margin-left: 5px;
      color: red;
    }
    & .title {
      @apply inline-block align-top;
      width: 190px;
      margin-left: 5px;
    }
  }
}
</style>
