<template>
  <div class="header-wrapper">
    <Alert/>
    <!-- icon -->
    <router-link to="/" class="icon" @click="closeFavorite">FUTURELA</router-link>
    <!-- 右上選單 -->
    <div class="user-box">
      <router-link to="/productList" class="item" @click="closeFavorite">商品列表</router-link>
      <span v-if="store.isLogin" class="item" @click="openCart">購物車</span>
      <span v-if="store.isLogin" class="item nav-favorite" :class="{ 'item-selected': favoriteVisible}">
        <span @click="viewFavorite" class="favorite-btn">
          我的最愛
          <span class="favorite-num">{{ favoritesLength }}</span>
        </span>
        <transition name="fade">
          <Favorite
              v-if="favoriteVisible"
              :favoriteList="favorites"
              class="favorite"
              @on-closeFavorite="viewFavorite"
          />
        </transition>
      </span>
      <router-link to="/member"><span v-if="store.isLogin" class="item" @click="closeFavorite">會員中心</span></router-link>
      <span v-if="store.isLogin" class="item" style="color:darkred" @click="handleLogout">登出</span>
      <span v-else class="item" style="color:darkgreen" @click="loginVisible=true">登入</span>
    </div>

    <transition name="fade">
      <LoginForm v-if="loginVisible" @closeForm="closeForm"/>
    </transition>

    <transition name="cart">
      <Cart/>
    </transition>

  </div>
</template>

<script>
import LoginForm from './loginForm.vue'
import Favorite from '../Favorite/index.vue'
import Cart from '../Cart.vue'
import {ref, watch} from 'vue'
import {useRouter} from "vue-router"
import {useStore} from '../../stores/pinia'
import {storeToRefs} from 'pinia'
import Alert from "../Alert.vue";

export default {
  components: {
    LoginForm,
    Favorite,
    Cart,
    Alert
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const loginVisible = ref(false)
    const {favorites} = storeToRefs(store)
    const favoriteVisible = ref(false)
    const favoritesLength = ref(favorites.value.length)

    watch(()=>favorites.value,(cur,pre)=>{
      favoritesLength.value = cur.length
    },{ })

    function closeForm() {
      loginVisible.value = false
    }

    function handleLogout() {
      closeFavorite()
      store.clearIsLogin()
      store.clearMemberData()
      router.push('/')
    }

    function viewFavorite() {
      favoriteVisible.value = !favoriteVisible.value
    }
    function closeFavorite() {
      favoriteVisible.value = false
    }

    // 開啟購物車
    function openCart() {
      store.setCartSwitch(true)
      closeFavorite()
    }

    return {
      store,
      loginVisible,
      closeForm,
      handleLogout,
      viewFavorite,
      closeFavorite,
      favorites,
      favoritesLength,
      favoriteVisible,
      openCart
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.cart-enter-active, .cart-leave-active {
  transition: all 0.5s ease-out;
}

.header-wrapper {
  @apply fixed right-0 top-0 w-full z-40 flex;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, .4));
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  height: 5vw;

  & .icon {
    @apply fixed left-0 flex justify-center items-center;
    font-size: 18px;
    height: 5vw;
    margin-left: 5vw;
    letter-spacing: 5px;
  }

  & .user-box {
    @apply fixed right-0 flex;
    font-size: 16px;

    & .item {
      @apply cursor-pointer flex justify-center items-center;
      width: 7.5vw;
      height: 5vw;
      transition-duration: 300ms;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    & .item-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }

    & .nav-favorite {
      @apply relative;
      & .favorite-btn {
        @apply w-full h-full flex justify-center items-center;
        & .favorite-num {
          margin-left: 3px;
          @apply text-white flex justify-center items-center;
          background-color: #f35c5c;
          font-size: 14px;
          width: 16px;
          height: 16px;
        }
      }
      & .favorite {
        @apply absolute;
        top: calc(5vw + 5px);
      }
    }
  }
}
</style>
