<template>
  <div class="login-wrapper">
    <div class="login-container">
      <div class="close" @click="$emit('closeForm')">X</div>
      <div class="aside">
        <div class="item" :class="{'item-clicked':itemIndex === 0}" @click="setIndex(0)">會員登入</div>
        <div class="item" :class="{'item-clicked':itemIndex === 1}" @click="setIndex(1)">會員註冊</div>
      </div>
      <div v-if="itemIndex === 0" class="login-form">
        <label>帳號
          <input v-model="loginAccount" type="text" placeholder="輸入帳號">
        </label>
        <br>
        <label>密碼
          <input v-model="loginPassword" type="password" placeholder="輸入密碼">
        </label>
        <button class="login-btn" @click="handleLogin">登入</button>
      </div>
      <div v-if="itemIndex === 1" class="register-form">
        <label>帳號
          <input v-model="registerAccount" type="text" placeholder="輸入帳號">
        </label>
        <br>
        <label>密碼
          <input v-model="registerPassword" type="password" placeholder="輸入密碼">
        </label>
        <br>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input v-model="registerConfirm" type="password" placeholder="再次輸入密碼">
        </label>
        <br>
        <label>信箱
          <input v-model="registerEmail" type="text" placeholder="輸入信箱">
        </label>
        <button class="register-btn" @click="handleRegister">註冊</button>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, reactive, inject } from 'vue'
import { useStore } from '../../stores/pinia'

export default {
  setup(props, { emit }) {
    const $api = inject('$api')
    const store = useStore()
    const itemIndex = ref(0);
    const setIndex = function(index) {
      itemIndex.value = index;
    };

    // 取得所有member列表
    let memberList = reactive([])
    function getMemberList() {
      $api.getMemberList().then((res) => {
        memberList = res
        console.log(memberList)
      }).catch((err) => {
        if (store.showLog) {
          console.log(err)
        }
      })
    }
    getMemberList()

    // 登入
    const loginAccount = ref('')
    const loginPassword = ref('')
    function handleLogin() {
      // 檢查帳密碼是否正確
      const result = memberList.filter(
          member => member.account === loginAccount.value && member.password === loginPassword.value,
      );
      if (result.length === 0) {
        alert('帳號或密碼錯誤')
      } else {
        // 設定登入狀態
        store.setIsLogin(1)
        const memberData = result[0];
        store.setMemberData(JSON.stringify(memberData))
        store.setFavorite(JSON.stringify(memberData.favorites || []))
        alert('登入成功')
        emit('closeForm')
      }
    }

    // 註冊
    const registerAccount = ref('')
    const registerPassword = ref('')
    const registerConfirm = ref('')
    const registerEmail = ref('')
    function clearRegisterForm() {
      registerAccount.value = ''
      registerPassword.value = ''
      registerConfirm.value = ''
      registerEmail.value = ''
    }
    function handleRegister() {
      // 檢查帳密碼是否重複
      const result = memberList.filter(
          member => member.account === registerAccount.value,
      );
      if (result.length === 0) {
        $api.register(registerAccount.value, registerPassword.value, registerEmail.value).then((res) => {
          // 設定登入狀態
          store.setIsLogin(1)
          store.setMemberData(JSON.stringify(res))
          alert('註冊成功')
          clearRegisterForm()
          emit('closeForm')
        }).catch((err) => {
          if (store.showLog) {
            console.log(err)
          }
          clearRegisterForm()
        })
      } else {
        clearRegisterForm()
        alert('註冊帳號重複')
      }
    }

    return {
      itemIndex,
      setIndex,
      loginAccount,
      loginPassword,
      handleLogin,
      registerAccount,
      registerPassword,
      registerConfirm,
      registerEmail,
      handleRegister,
    }
  }
}
</script>

<style lang="scss" scoped>
.login-wrapper {
  @apply fixed top-0 left-0 w-full;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  & .login-container {
    @apply bg-white relative;
    width: 500px;
    margin: 130px auto 0;
    box-shadow: 0 2px 8px 1px rgba(44, 110, 198, 0.06);
    border-radius: 4px;
    & .close {
      @apply absolute top-0 right-0 cursor-pointer;
      padding: 8px 13px;
      font-size: 16px;
    }
    & .aside {
      @apply inline-block;
      width: 150px;
      height: 400px;
      border-right: 1px solid rgba(83, 90, 101, 0.2);
      padding-top: 40px;
      & .item {
        @apply text-left cursor-pointer;
        padding: 9px 0 9px 24px;
        font-size: 16px;
        line-height: 160%;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
      & .item-clicked {
        background-color: rgba(0, 0, 0, 0.05) !important;
      }
    }
    & .login-form {
      @apply inline-block text-center text-left align-top;
      width: 350px;
      padding-top: 100px;
      & label {
        font-size: 16px;
        & input {
          outline: none;
          width: 200px;
          height: 37px;
          padding: 10px;
          margin: 0 0 15px 10px;
          font-size: 14px;
          line-height: 160%;
          border: 1px solid rgba(83, 90, 101, 0.2);
        }
      }
      & .login-btn {
        @apply bg-black text-white;
        font-size: 16px;
        outline: none;
        width: 248px;
        height: 38px;
        margin: 10px auto;
        transition-duration: 300ms;
        border-radius: 5px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
    & .register-form {
      @apply inline-block text-center text-left align-top;
      width: 350px;
      padding-top: 70px;
      & label {
        font-size: 16px;
        & input {
          outline: none;
          width: 200px;
          height: 37px;
          padding: 10px;
          margin: 0 0 15px 10px;
          font-size: 14px;
          line-height: 160%;
          border: 1px solid rgba(83, 90, 101, 0.2);
        }
      }
      & .register-btn {
        @apply bg-black text-white;
        font-size: 16px;
        outline: none;
        width: 248px;
        height: 38px;
        margin: 10px auto;
        transition-duration: 300ms;
        border-radius: 5px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
</style>
