<template>
  <div v-show="cartSwitch" class="fixed inset-0 overflow-hidden z-40" aria-labelledby="slide-over-title" role="dialog"
    aria-modal="true">

    <div class="absolute inset-0 overflow-hidden">

      <transition name="overlay">
        <div v-if="cartSwitch" @click="closeCart"
          class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-all duration-300" aria-hidden="true"></div>
      </transition>

      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <transition name="slide-fade">
          <div v-if="cartSwitch" class="pointer-events-auto w-screen max-w-md">
            <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
              <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">購物車清單</h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button @click="closeCart" type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                      <span class="sr-only">Close panel</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>

                <div class="mt-8">
                  <h1 v-show="carts.length === 0" class="text-gray-500 text-center">你的購物車是空的</h1>
                  <div class="flow-root">
                    <!-- 清單列表 -->
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                      <li v-for="cart of carts" :key="cart.id" class="flex py-6">
                        <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                          <img :src="baseUrl + cart.product.imageUrl" :alt="cart.product.imageUrl"
                            class="h-full w-full object-cover object-center">
                        </div>

                        <div class="ml-4 flex flex-1 flex-col">
                          <div>
                            <div class="flex justify-between text-base font-medium text-gray-900">
                              <h3>
                                <a href="#">{{ cart.product.title }}</a>
                              </h3>
                              <p class="ml-4">${{ cart.product.price }}</p>
                            </div>
                          </div>
                          <div class="flex flex-1 items-end justify-between text-sm">
                            <p class="text-gray-500">數量 {{ cart.qty }}</p>

                            <div class="flex">
                              <button @click="removeCartItem(cart)" type="button"
                                class="font-medium text-indigo-600 hover:text-indigo-500">移除
                              </button>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div v-show="carts.length !== 0" class="border-t border-gray-200 py-6 px-4 sm:px-6">
                <div class="flex justify-between text-base font-medium text-gray-900">
                  <p>小計</p>
                  <p>${{ cartTotal }}</p>
                </div>
                <div class="mt-6">
                  <router-link to="/checkout" @click.native="closeCart"
                    class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
                    結帳
                  </router-link>
                </div>
                <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                  <p>
                    或
                    <button @click="goToProduct" type="button"
                      class="font-medium text-indigo-600 hover:text-indigo-500">繼續購物<span aria-hidden="true">
                        &rarr;</span></button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

    </div>
  </div>
</template>

<script setup>
import { inject } from 'vue'
import { useStore, useStoreAlert } from '../stores/pinia'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'
const store = useStore();
const alertStore = useStoreAlert()
const { showLog, baseUrl, isLogin, cartSwitch, carts, cartTotal } = storeToRefs(store);
const router = useRouter();
const $api = inject('$api');

// 移除商品
const removeCartItem = cart => {
  const newCart = carts.value.filter(item => item.id !== cart.id);
  const total = cartTotal.value - cart.final_total;
  store.setCart(JSON.stringify(newCart));
  store.setTotal(total);
  // call api 更新購物車
  if (isLogin) {
    $api.updateCart(newCart, total).then((res) => {
      if (showLog) {
        console.log('res', res)
      }
      if (res) {
        // alert
        alertStore.updateMessage('已從購物車移除','success')
      }
    }).catch((err) => {
      if (showLog) {
        console.log('err', err)
      }
    })
  }
}

// 關閉購物車
const closeCart = () => {
  store.setCartSwitch(false)
}

// 繼續購物
const goToProduct = () => {
  store.setCartSwitch(false);
  router.push('/productList');
}
</script>

<style lang="scss" scoped>
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(100%);
}

.overlay-active,
.overlay-leave-active {
  transition: opacity 0.5s;
}

.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}
</style>
