<template>
  <div class="slider-wrap">
    <swiper :options="swiperOption">
      <swiper-slide v-for="(item, index) of bannerList" :key="index">
        <div class="slider" >
          <img :src="item.src" alt="">
          <div class="slider-content">
            <p class="title">{{ item.title }}</p>
            <p class="subtitle">{{ item.subtitle }}</p>
          </div>
        </div>
      </swiper-slide>
    </swiper>
    <div class="pagination swiper-pagination-black" slot="pagination"></div>
    <div class="swiper-button swiper-button-prev swiper-button-white" slot="button-prev"></div>
    <div class="swiper-button swiper-button-next swiper-button-white" slot="button-next"></div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { swiper, swiperSlide } from 'vue-awesome-swiper/src/index.js'
import 'swiper/dist/css/swiper.css'
import 'swiper/dist/js/swiper.js'
import banner01 from  '../../assets/img/banner01.jpeg'
import banner02 from  '../../assets/img/banner02.jpeg'
import banner03 from  '../../assets/img/banner03.jpeg'

export default {
  components: {
    swiper,
    swiperSlide,
  },
  setup() {
    const bannerList = ref([
      {
        src: banner01,
        title: 'Lamborghini Sian',
        subtitle: '819匹、超級電容上身！藍寶堅尼Sian超跑甫亮相就成「史上最強」!',
      },
      {
        src: banner02,
        title: 'Sian Roadster',
        subtitle: '藍寶堅尼819匹「最強油電敞篷」登場　限量19部一亮相即完售！',
      },
      {
        src: banner03,
        title: 'Direzione Cor Tauri',
        subtitle: '最後一款純燃油新車今年問世！藍寶堅尼宣布電氣化轉型。',
      },
    ])

    const swiperOption = ref({
      slidesPerView: 1, // 每一個畫面有幾個swiper-slide
      spaceBetween: 0, // swiper-slide間格
      loop: true, // 無限循環
      speed: 1000,
      pagination: { // 頁碼
        el: '.pagination',
        clickable: true, // 點擊頁碼可跳轉
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })

    return {
      bannerList,
      swiperOption,
    }
  }
}
</script>

<style lang="scss" scoped>
.slider-wrap {
  position: relative;
  & .pagination {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  & .swiper-button {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.swiper-container {
  width: 100%;
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  border: solid #e6dfd7 3px;
  & img {
    width: 100%;
  }
}
.slider-left {
  flex-direction: row-reverse;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.slider-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.2vw 0 1.5vw 0;
  background-image: linear-gradient(to top, #e6dfd7, transparent);
  text-align: center;
  .title {
    color: white;
    font-size: 2vw;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 8px;
    @media (max-width: 767px) {
      margin-bottom: 2px;
    }
  }
  .subtitle {
    font-size: 1.25vw;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
}
</style>
