<template>
  <div class="card-slider-wrapper">
    <swiper :options="swiperOption">
      <swiper-slide v-for="item in products" :key="item.id">
        <ul class="slider" :style='{backgroundImage: `url(${baseUrl}${item.imageUrl})`}'
            @click.prevent="productBtn(item.id)">
          <li class="slider-tag">
            <div class="slider-triangle"></div>
            <span class="slider-title"> {{item.category}} </span>
          </li>
          <li class="slider-rect">{{ item.title }}</li>
        </ul>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { ref } from 'vue'
import { useRouter } from "vue-router"
import { swiper, swiperSlide } from 'vue-awesome-swiper/src/index.js'
import 'swiper/dist/css/swiper.css'
import 'swiper/dist/js/swiper.js'
import { useStore } from "../../stores/pinia"

export default {
  components: {
    swiper,
    swiperSlide,
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const products = store.product
    const baseUrl = store.baseUrl

    console.log(products)

    const swiperOption = ref({
      slidesPerView: 3, // 每一個畫面有幾個swiper-slide
      slidesPerColumn: 2, // 每一個畫面有幾列swiper-slide
      spaceBetween: 15, // swiper-slide間格
      autoplay: true,
      speed: 4500,
      breakpoints: { // 響應式
        991: {
          slidesPerView: 2,
        },
        767: {
          slidesPerView: 1,
        },
      },
    })

    function productBtn(productId) {
      router.push(`/productList/${productId}`)
    }

    return {
      swiperOption,
      products,
      baseUrl,
      productBtn,
    }
  }
}
</script>

<style lang="scss" scoped>
.card-slider-wrapper {
  width: 88.5vw;
  margin: 0 auto 32px;
  & ul {
    margin: 0;
    padding-left: 0;
  }
  & li {
    list-style: none;
  }
  & .slider {
    position: relative;
    min-height: 250px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 0.25rem;
    border: 1px solid #e6dfd7;
    cursor: pointer;
  }
  .slider-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25rem;
    background-color: darken(#e6dfd7, 10);
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
  }
  .slider-rect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#343a40,0.5);
    opacity: 0;
    transition: all 0.3s ease;
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    &:hover, &:active {
      opacity: 1;
    }
  }
}
</style>
