<template>
  <div class="news-wrapper">
    <div class="left">
      <div class="img-box">
        <div class="text">
          <h3>Classic</h3>
          <h3>Lamborghini Clothing</h3>
        </div>
      </div>
      <div class="link-box">
        <div class="inside-box">
          <div class="text">
            <h3>Hot Sale</h3>
            <p>Popular Products</p>
            <router-link class="btn" to="/productList">Go Shop</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="link-box">
        <div class="inside-box">
          <div class="text">
            <h3>New Arrival</h3>
            <p>Clothing</p>
            <router-link class="btn" to="/productList">Go Shop</router-link>
          </div>
        </div>
      </div>
      <div class="img-box">
        <div class="text">
          <h3>Lamborghini</h3>
          <h3>Merchandise Item</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.news-wrapper {
  margin: 0 5vw;
  @apply grid grid-cols-12 gap-8;
  & .left {
    @apply col-span-7;
    & .img-box {
      background: url('../../assets/img/news02.jpeg') center center no-repeat;
    }
  }
  & .right {
    @apply col-span-5;
    & .img-box {
      background: url('../../assets/img/news01.jpeg') center center no-repeat;
    }
  }
}

.img-box {
  @apply flex justify-center items-center w-full;
  height: 411px;
  margin-bottom: 24px;
  background-size: cover;
  & .text {
    @apply text-center text-white font-medium;
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.link-box {
  background-color: #e6dfd7;
  height: 280px;
  margin-bottom: 24px;
  padding: 32px;
  & .inside-box {
    border: 2px solid #ffffff;
    @apply flex justify-center items-center w-full h-full;
    & .text {
      @apply text-center;
      & h3 {
        @apply font-medium;
        font-size: 24px;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
      & p {
        font-size: 18px;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }
      & .btn {
        @apply bg-black text-white;
        font-size: 16px;
        padding: 10px 15px;
        transition-duration: 300ms;
        border-radius: 5px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
</style>
