<template>
  <div class="product-category-wrapper">
    <div
      class="item"
      v-for="(category, key) in categories"
      :key="key"
      @click="goProductList(category.title)"
    >
      <div class="title">{{ category.name }}</div>
      <div class="title">{{ category.title }}</div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { useRouter } from "vue-router"

export default {
  setup() {
    const router = useRouter();
    const categories = ref([
      { name: 'ALL', title: '全部商品' },
      { name: 'Figure', title: '模型、公仔' },
      { name: 'Shoes', title: '鞋款' },
      { name: 'Limited Edition', title: '限定商品' },
      { name: 'Cloth', title: '衣服' },
      { name: 'LIFE', title: '配件' },
    ])

    // 前往產品列表頁
    function goProductList(title) {
      router.push({ name: 'productList', query: { category: title } });
    }

    return {
      categories,
      goProductList,
    }
  }
}
</script>

<style lang="scss" scoped>
.product-category-wrapper {
  @apply flex flex-row;
  width: 85%;
  margin: 2vw auto;
  & .item {
    @apply text-center cursor-pointer basis-1/6;
    transition-duration: 200ms;
    padding: 15px 0;
    & .title {
      font-size: 16px;
    }
    &:hover {
      background-color: #e6dfd7;
    }
  }
  & .item:not(:last-child) {
    border-right: 1px solid #e6dfd7;
  }
}
</style>
