<template>
  <div class="footer-wrapper">
    <div class="top">
      <div class="container">
        <div class="title">FUTURELA</div>
        <div class="content">
          你知道這是什麼嗎？你知道FUTURELA提供Lamborghini最完整的週邊服務、包含義大利限定的稀有商品。
          雖然我不是數學家，但那聽起來很不錯對吧？
        </div>
      </div>
      <div class="container">
        <div class="title">Contact Us</div>
        <div class="content">
          <div><a href="tel:+1234567890">TEL： 12345678910</a></div>
          <div><a href="mailto:futurela@mail.com" class="text-muted">
            Mail： futurela@mail.com
          </a></div>
          <div>地址： 地球上的某一個角落</div>
        </div>
      </div>
      <div class="container">
        <div class="title">Follow Us</div>
        <div class="content">
          <div>TEL： 12345678910</div>
          <div>Mail： futurela@mail.com</div>
          <div>地址： 地球上的某一個角落</div>
        </div>
      </div>
    </div>
    <div class="bot">
      ⓒ 2022 FUTURLA
    </div>
  </div>
</template>

<style lang="scss" scoped>
.footer-wrapper {
  width: 95vw;
  margin: 0 auto;
  .top {
    @apply flex flex-row;
    & .container {
      border: 1px solid #8d8686;
      @apply inline-block basis-1/3 text-center;
      background-color: #2d2b2b;
      & .title {
        @apply text-white;
        font-weight: 600;
        font-size: 18px;
        margin: 2.5vw 0 1.5vw;
        letter-spacing: 1px;
      }
      & .content {
        width: 70%;
        font-size: 16px;
        color: #d6cfcf;
        letter-spacing: 1px;
        line-height: 28px;
        margin: 0 auto 2.5vw;
      }
    }
  }
  & .bot {
    border-top: 1px solid #8d8686;
    @apply text-center text-white;
    padding: 20px;
    background-color: #2d2b2b;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 28px;
  }
}
</style>
