<template>
  <div class="member-order-wrapper">
    <div v-for="(item, index) in orderList" :key="index">
      <div class="order-container" @click="viewDetail(index)">
        <div class="order-title">訂單 {{ item.create_at }}</div>
        <div class="create-date">成立時間：{{ parseTime(item.create_at) }}</div>
      </div>
      <div class="order-detail" :class="{ 'show': showItem === index }">
        <table>
          <thead>
          <tr>
            <td style="width:20%">縮圖</td>
            <td >商品</td>
            <td style="width:25%">數量</td>
            <td style="width:15%">價格</td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item of item.products" :key="item.id">
            <td><img :src="baseUrl + item.product.imageUrl" alt="item.product.imageUrl"></td>
            <td>{{ item.product.title }}</td>
            <td>{{ item.qty }} / {{ item.product.unit }}</td>
            <td>${{ item.final_total }}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center">總計</td>
            <td class="text-center" style="color:red">${{ item.total }}</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { useStore } from '../../stores/pinia'
import { parseTime } from '../../utils/parseTools.js'

export default {
  setup() {
    const store = useStore()
    const baseUrl = store.baseUrl
    const orderList = store.order
    const showItem = ref(0)
    console.log(orderList)

    function viewDetail(index) {
      if (showItem.value === index) {
        showItem.value = null
      } else {
        showItem.value = index
      }
    }

    return {
      parseTime,
      baseUrl,
      orderList,
      showItem,
      viewDetail,
    }
  }
}
</script>

<style lang="scss" scoped>
.member-order-wrapper {
  padding: 1vw 1vw 10vw 1vw;
  min-height: 500px;
  & .order-container {
    margin-top: 1vw;
    @apply cursor-pointer;
    background-color: rgb(230, 230, 230);
    border-left: 10px solid black;
    padding: 12px 15px;
    transition-duration: 200ms;
    &:hover {
      background-color: rgb(235, 235, 235);
    }
    & .order-title {
      @apply inline-block;
      font-size: 16px;
    }
    & .create-date {
      @apply inline-block float-right;
      font-size: 16px;
    }
  }
  @keyframes fadeEffect {
    from {opacity: .5;}
    to {opacity: 1;}
  }
  & .order-detail {
    border: 1px solid lightgray;
    padding: 20px 0;
    @apply hidden;
    animation: fadeEffect .5s;
    & table {
      @apply text-center;
      width: 95%;
      margin: 0 auto;
      font-size: 16px;
      & thead {
        @apply font-bold;
        border-bottom: 1px solid #acacac;
        & tr td {
          line-height: 45px;
        }
      }
      & tbody tr {
        border-bottom: 1px solid lightgray;
        & td {
          line-height: 45px;
          & img {
            @apply inline;
            height: 150px;
          }
        }
      }
      & tfoot tr td {
        line-height: 45px;
      }
    }
  }
  & .show {
    @apply block;
  }
}
</style>
