<template>
  <div class="member-data-wrapper">
    <label>帳號：
      <div>{{ memberData.account }}</div>
    </label><br>
    <label>姓名：
      <input v-model="name" type="text" placeholder="輸入姓名">
    </label><br>
    <label>生日：
      <input v-model="birthday" type="date" placeholder="輸入生日">
    </label><br>
    <label>手機：
      <input v-model="phone" type="text" placeholder="輸入手機">
    </label><br>
    <label>信箱：
      <input v-model="email" type="text" placeholder="輸入信箱">
    </label><br>
    <label>地址：
      <input v-model="address" type="text" placeholder="輸入地址">
    </label><br>

    <button class="handle-edit" @click="handleEdit">確認送出</button>

  </div>
</template>

<script>
import { inject, ref } from 'vue'
import { useStore } from '../../stores/pinia'

export default {
  setup() {
    const store = useStore()
    const $api = inject('$api')
    const memberData = JSON.parse(store.memberData)
    const name = ref(memberData.name)
    const birthday = ref(memberData.birthday)
    const phone = ref(memberData.phone)
    const email = ref(memberData.email)
    const address = ref(memberData.address)

    function handleEdit() {
      memberData.name = name.value
      memberData.birthday = birthday.value
      memberData.phone = phone.value
      memberData.email = email.value
      memberData.address = address.value
      $api.updateMember(memberData).then((res) => {
        if (store.showLog) {
          console.log(res)
        }
        store.setMemberData(JSON.stringify(memberData))
        memberData.value = JSON.parse(store.memberData)
        alert('更新成功')
      }).catch((err) => {
        if (store.showLog) {
          console.log(err)
        }
      })
    }

    return {
      memberData,
      name,
      birthday,
      phone,
      email,
      address,
      handleEdit,
    }
  }
}
</script>

<style lang="scss" scoped>
.member-data-wrapper {
  padding: 2vw 0 10vw 1vw;
  & label {
    font-size: 16px;
    & div {
      @apply inline-block;
      width: 250px;
      height: 37px;
      padding: 10px;
      margin: 0 0 15px 3px;
      font-size: 14px;
      line-height: 160%;
    }
    & input {
      outline: none;
      width: 250px;
      height: 37px;
      padding: 10px;
      margin: 0 0 15px 10px;
      font-size: 14px;
      line-height: 160%;
      border: 1px solid rgba(83, 90, 101, 0.2);
    }
  }
  & .handle-edit {
    @apply bg-black text-white;
    font-size: 16px;
    outline: none;
    width: 150px;
    height: 38px;
    margin: 10px auto;
    transition-duration: 200ms;
    border-radius: 3px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
</style>
