<template>
  <metainfo>
    <template v-slot:title="{ content }">
      {{ content ? `${siteName} | ${content}` : siteName }}
    </template>
  </metainfo>
  <Header/>
  <router-view/>
  <Footer />
</template>

<script setup>
import Header from './components/Header/index.vue'
import Footer from './components/Footer/index.vue'
import {onMounted, inject} from 'vue'
import {useStore} from './stores/pinia'

import { useMeta } from 'vue-meta'
const siteName = 'FUTURELA'
useMeta({
  title: '',
  htmlAttrs: { lang: 'en', amp: true },
})

const store = useStore()

const $api = inject('$api')

const initApiService = () => {
  $api.setStaticFail((resData) => {
    if (store.showLog) {
      console.log(resData)
    }
  })

  $api.setStaticError((error, command) => {
    if (store.showLog) {
      console.log(error, command)
    }
  })
}

// 取得產品列表
const getProductList = () => {
  $api.getProductList().then((res) => {
    if (store.showLog) {
      console.log('res', res)
    }

    if (res) {
      store.product = res.product;
    }

  }).catch((err) => {
    if (store.showLog) {
      console.log('err', err)
    }
  })
}

onMounted(() => {
  initApiService();
  getProductList();
})
</script>

<style scoped>
#app {
  width: 100%;
  height: 100%;
}
</style>
